body{
    background: #f8f9fc !important;
    background-color: #f8f9fc !important;
}

.form{
    padding: 50px;
    width: 500px;
}

.tab-button a:hover{
        background: #343a40;
        color: white;
        opacity: 0.7;
}
